* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #070b13;
  overflow-x: hidden;
}
.wbody {
  background-color: #ffffff;
  color: #000000;
}
.wnavbarOptionA {
  border: #000000;
}
.wpara {
  color: black;
}
.wnavbar {
  background-color: #0000004a;
}
.wheading {
  -webkit-text-fill-color: black;
}
::-webkit-scrollbar {
  width: 6px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #52d2ce;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1f4342;
}

.mainBackgroundVideo {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  position: fixed;
  z-index: -1;
  object-fit: cover;
  position: absolute;
}

.topArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.navbar {
  width: 100vw;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  z-index: 2;
  /* background-color: #070b13; */
  background-color: #070b1385;
}

.navbar section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar section img {
  width: 50px;
}

.navbar section a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1rem;
}

.navbar section a:hover {
  color: #e0e0e0;
}
.navbarOption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navbarOption a::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #56cad1;
  transform: scaleX(0%);
  transition: transform 0.3s ease;
}
.navbarOption a:hover::after {
  transform: scaleX(100%);
}
.navbar button {
  height: 50px;
  width: 150px;
  font-size: 1rem;
  background-color: #719de6;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #1f4342;
}

.navbar button:hover {
  background-color: #638bcb;
}

.dropdown {
  display: none;
}
.topContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
  margin-bottom: 40px;
}

.topContent h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ffc107;
  font-size: 1.8rem;
}

.topContent h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(to right, #719de6, #52d2ce, #56cad1, #719de6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 50px;
}

.cardContent h3 {
  font-size: 27px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.card {
  margin: 30px;
  position: relative;
  padding: 20px;
  border: 1px solid #ffc107;
  transition: 0.4s;
}
.card:hover {
  box-shadow: 2px 4px 14px #ffc107;
}
.cardContent {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}
.submit {
  width: 40%;
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  border: 0px;
  transition: 0.2s;
}
.submit:hover {
  box-shadow: 2px 4px 10px #ffc107;
}
.card img {
  width: 40vw;
}
.para {
  font-weight: 100;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
.card:nth-child(even) {
  left: 0;
}
@media screen and (max-width: 800px) {
  .topContent h2 {
    font-size: 3rem;
  }

  .topContent h1 {
    font-size: 6rem;
  }

  .navbarOption {
    display: none;
  }

  .contactUs h1 {
    font-size: 5.6rem;
  }

  /* Dropdown Button */
  .dropbtn {
    background-color: transparent !important;
    color: white;
    border: none;
    cursor: pointer;
    width: 30px;
    display: flex;
  }

  /* Dropdown button on hover & focus */
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: transparent;
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 20px 32px !important;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: transparent;
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
    background-color: rgba(0, 0, 0, 0.401);
    border-radius: 10px;
    border: 1px solid white;
  }
}
@media screen and (max-width: 800px) {
  .card img {
    width: 90vw;
  }
  .navbar {
    padding: 17px;
  }
  .navbar section img {
    width: 30px;
  }
  .navbar button {
    height: 40px;
    width: 120px;
    font-size: 0.71rem;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 17px;
  }
  .topContent h2 {
    font-size: 2.4rem;
  }

  .topContent h1 {
    font-size: 4.6rem;
  }

  .teamContainer {
    gap: 10px;
  }

  .navbar {
    padding: 17px;
  }

  .navbar section img {
    width: 30px;
  }

  .navbar button {
    height: 40px;
    width: 120px;
    font-size: 0.71rem;
  }

  .nsccAbout h1 {
    margin-top: 100px;
  }

  .contactUs h1 {
    font-size: 4.6rem;
  }
}

@media screen and (max-width: 500px) {
  .topContent h2 {
    font-size: 2.4rem;
  }

  .topContent h1 {
    font-size: 4.6rem;
  }

  .aboutSection {
    width: 90vw;
  }

  .teamContainer {
    width: 90vw;
  }

  .timeline h1 {
    font-size: 5rem;
  }

  .contactUs h1 {
    font-size: 4.6rem;
  }
  a {
    font-size: 14px;
  }
}

@media screen and (max-width: 470px) {
  .topContent h2 {
    font-size: 2rem;
  }

  .topContent h1 {
    font-size: 4rem;
  }

  .topContent h3 {
    font-size: 1.5rem;
  }

  .nsccAbout h1 {
    font-size: 2rem;
  }

  .nsccAbout p {
    font-size: 1rem;
  }

  .nsccTeam h1 {
    font-size: 2rem;
  }

  .timeline h1 {
    font-size: 4rem;
  }

  .contactUs h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 400px) {
  .topContent h2 {
    font-size: 1.8rem;
  }

  .topContent h1 {
    font-size: 3rem;
  }

  .topContent h3 {
    font-size: 1.2rem;
  }

  .timeline h1 {
    font-size: 3.5rem;
  }

  .contactUs h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
  .topContent h2 {
    font-size: 1.8rem;
  }

  .topContent h1 {
    font-size: 2.8rem;
  }

  .topContent h3 {
    font-size: 1rem;
  }

  .contactUs h1 {
    font-size: 2.8rem;
  }
}
